@charset "utf-8";

/* 태그배치 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* common */
.container {
    width: 1268px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}



h1,
h2,
h3,
p {
    text-decoration: none;
    color: #333;
}

/*헤더탑 로그인*/

#header_top {
    width: 100%;
    height: 55px;
    margin: 0 auto;
}

#header_top .container {
    width: 1268px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right{ float:inline-start; position: sticky; top: 0; }

#login ul {
    width: 530px;
    height: 30px;
    background-color: chocolate;
    display: flex;
    justify-content: space-around;

}


ul {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    align-items: center;
    align-content: center;
}

#header_main {
    width: 100%;
    height: 104px;
    margin: 0 auto;
    background-color: yellow;
}

#header_main .container {
    width: 1268px;
    display: flex;
    justify-content: space-between;
   flex-wrap: nowrap;
    font-weight: bold;
    align-items: center;
}

 .logo {
    width: 210px;
    height: 65px;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    font-weight: bold;
    align-items: center;
}


.container .menu {
    width: 600px;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
}
.container .menu li{position: relative;}
.container .menu li:after {
    content: ''; width: 0; height: 3px; position: absolute; 
    bottom: -9px; left: 0; background-color: red; 
    transition: all 1s ease;
}
.container .menu li:hover:after {width: 100%;}

.container .icon {
    width: 110px;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: green;
    margin-left:  30px;
}


/*헤더 슬라이더 (슬라이더 동작주기) */

#slider .swiper-slide{
    width: 100%;
    height: 726px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
}

#slider .swiper-slide::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 726px;
    background: rgba(0, 0, 0, 0.3);
}
/* 기본 화살표 제거 후 커스텀 이미지 넣기 */
#slider .swiper-button-next svg,
#slider .swiper-button-prev svg {
  display: none; 
}
#slider .swiper-button-next,
#slider .swiper-button-prev {
  width: 40px;
  height: 40px;
  background-size: contain;
  }

#slider .swiper-button-next {
  background: url('../img/arrow_forward.png') no-repeat center;
  right: 4%;
}
#slider .swiper-button-prev {
  background: url('../img/arrow_backward.png') no-repeat center;
  left: 4%;  
}

/* 슬라이더에서 밑에 있는 pagination */
#slider .swiper-pagination-bullet{width: 12px; height: 12px;margin-bottom: 40px;}
#slider .swiper-pagination-bullet-active{
    background: red;  }
#slider .main_window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    }

#slider h1 {
    line-height: 100px;
    color: #fff;}

#slider .box_move{width: 300px; height: 60px;}

#slider p {
    color: #eee;
    font-size: 25px;
    margin: 20px;
    text-align: center;
}

.box_move {
    display:block;
    padding: 15px 20px;
    border: 4px;
    background-color: black;
    border-radius: 10px;
    color: #eee;    
   display: flex;
   justify-content: center;
    align-items: center;
    }

#slider .box_move {
    width: 285px;
    height: 65px;
    font-size: 21px;
    margin-top: 50px;
}

/* 섹션01 */
#section1 .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.container h2 {
    font-size: 60px;
    font-weight: bold;
    margin: 120px 0 70px;
    text-align: center;
}
#section1 .book p {color: #333; font-size: 20px; display: flex;}

#section1 nav {
    width: 900px;
    height: 40px;
    background-color: chocolate;
}

#section1 ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.container .bestSeller {
    width: 90%;
    height: 435px;
    box-sizing: border-box;
    object-fit: cover;    
    display: flex;
    justify-content: space-evenly;
    
    
    }
.bestSeller .book{width: 20%; display: flex; flex-direction:column; margin-top:37px;}
.bestSeller .book p{font-size: 20px; }
.bestSeller .book img{width: 200px; height: 285px;

}    
#section1 .box_move {
    width: 285px;
    height: 65px;
    font-size: 20px;
    margin-top: 50px;}

    /* 배너 광고 (토마토) */
#banner {
    width: 100%;
    height: 370px;
    background-color: tomato;
    margin-top: 117px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#banner>p {
    margin-bottom: 40px;
    color: #eee;
    font-size: 40px;
    text-align: center;

    transform: translateY(-20px);}


/* 섹션02 */
#section2 {
    width: 100%; height: 870px;
    background-color: #d3d3d3;
    margin: 0;
    display: flex; flex-direction: column;
    align-items: center;}

#section2 .container {
    display: flex;
    
    flex-direction: column;
    align-items: center;}

#section2 .container .box_move{
    width: 320px;
    height: 65px;
   
    margin:40px 0 112px 0;
    font-size: 19px;
}

/*사진 정렬 섹션02*/
.container #photo-wrap {
  display:flex;
  flex-direction: row;
  
  gap: 20px;
  justify-content: center; /* 가운데 정렬 */
  }


#photo-wrap .photo {
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}
    
.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: flex;
  align-items: flex-end;
  justify-content: center; */
  padding: 50px;
  transition: background-color 0.4s ease;
}
.cover:hover {
  background-color: rgba(0, 0, 0, 0);
}  

.cover h4 {font-size: 25px; color: #fff;
    
    margin-top: 250px;
}

.cover span {
  display: block;
  color: #fff;
  font-size: 18px;
  /* margin-bottom: 20px; */
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.4s ease;
}

/* hover 효과 */
.photo:hover img {
  transform: scale(1.1);
  filter: brightness(60%);
}

.photo:hover .cover {
  background: rgba(0,0,0,0.3);
}

.photo:hover .cover span {
  transform: translateY(0);
  opacity: 1;
}

/* 섹션03* The readDown*/
.picture  {width: 405px; height: 530px;
    text-decoration: none; color: #eee; }
.picture h4{margin-top: 23px; font-size: 30px;} 
.picture p {text-decoration: none; color: #eee; 
            margin-top: 7px; margin-bottom: 50px; font-size: 25px; }
.picture img:hover {transform: scale(1.2);}

#readDown {width: 100%; height: 530px; gap:21px;
    display: flex; justify-content: space-around; 
    align-items: center; flex-direction: row;
    margin-bottom:200px;
    text-align: center;
}

#readDown .boxTap1{width: 405px; height: 500px;}

.picture >div{width: 405px; height: 300px; overflow: hidden;}

.picture img {min-width: 100%; height: 300px; transform: scale(1); transition: all 0.3s ease-in-out;}

/* 섹션3 boxTab1,2,3에 색깔 다르게 주기*/
.boxTab1{background-color: blue;}
.boxTab2{background-color:tomato}
.boxTab3{background-color: violet;}




#section4 {
    width: 100%; 
    height: 705px; 
    margin: 0 auto;}

#section4::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 705px;
    background: rgba(0, 0, 0, 0.3);}

#section4 .container{position: relative;
z-index: 2;
display: flex;
gap: 10px;
justify-content: center;
flex-direction: column;
}
#section4 .container h5{font-size: 60px;;margin-bottom:80px; font-weight: bold; }
#section4 h5,#section4 p{
    color:#eee; text-align:left; margin: 3px; font-size: 23px;}

#section4 .box_move {width: 215px; height: 55px; 
    padding: 15px 20px; margin: 0;}

#section4 .container .box_move{margin-top: 55px;}

/*풋터*/
footer {
    width: 100%;
    height: 640px;
}

footer .container {
    width: 1268px;
    height: 460px;
    display: flex;
    margin-top: 105px;
    background-color: antiquewhite;
    }

footer .container>div {
    width: 25%;
}

footer .container h4 {
    font-size: 20px;
    text-align: left;
}

footer .container .links p {
    font-weight: normal;
    text-align: left;
    margin: 0;
}

/* what's new 블럭     */
footer .container .what {

    height: 410px;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.whatNew1,
.whatNew2 {
    width: 100%;
    height: 138px;
    display: flex;
    gap: 30px;
    /* 세로 가운데 정렬 */
}


.what img {
    width: 85px;
    height: 100%;
}

/* Links 블럭 */
footer .container .links {

    height: 322px;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.links ul {
    width: 100%;
    font-weight: normal;
    padding: 0%;
    margin: 0%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 20px;
}

/* Get in Touch 블럭 */
footer .getTouch {
    height: 410px;
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.side { 
    width: 65px; height: 125px;
    padding: 1px 2px;  position: fixed;
    top:50%; right: 10px; 
}

/* 사이드 아이콘 */
.side > div
 {width: 65px; height: 60; 
    padding: 2px 3px;  background-color: #333; 
    }

.shop_cart {margin-top: 10px;}
.upward {margin-top: 10px;}