 @charset "utf-8";
/* common */
.container {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    background-color: gold;
}

header {
    width: 100%;
    height: 160px;
}

#header_top {
    width: 100%;
    height: 40px;
    background-color: #eee;
}

#header_top .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#login {
    width: 290px;
    height: 20px;
    background-color: tomato;
}

#header_main {
    width: 1140px;
    height: 70px;
    margin: 0 auto;
    background-color: skyblue;
}

nav {
    width: 100%;
    height: 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

nav .container {display: flex; justify-content: flex-start; align-items: center;}
nav ul {width: 700px; height: 25px; display: flex; justify-content: space-between; background-color: cyan;}

/* main */
main {width: 1140px; height: 2200px; margin: 0 auto;
display:flex;background-color:  brown;}
aside {width: 300px; height: 100%; background-color: antiquewhite;}

#main_content {width: calc(100% - 300px) ; height: 100%; background-color: cadetblue;}

#slider_tex .swiper-navigation-icon {
    width: 50%;
    height: 50%;
    }

/* swiper css */
.swiper {
      width: calc(100% - 270px);
      height: 350px;
      
      
    }
    #slider_txt {
        width: calc(100% - 270px); height: 100%; background-color: blueviolet;
        position:relative; background-color: azure;
    }

    .swiper-button-next {border: 1px solid #ddd; 
    border-radius: 50%;
        top : auto; 
        bottom: 0;
    }
    .swiper-button-prev {
        border: 1px solid #ddd;
        border-radius: 50%;
        top : auto; 
        bottom: 0;
    }
    /* swiper css */
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block,red,yellow;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
#slider {
    width: 100%; height: 390px; margin-top: 40px; border: 1px solid #ddd;
    border-radius: 10px; display: flex;
    background-color: yellowgreen;
}

/* footer */
footer {width: 100%; height: 180px; border-top: 1px solid #ddd;}